.input{
    display: none;
}
button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
}
input{
    width: 200px;
    height: 40px;
    padding-left: 13px;
    font-size: 20px;
    border-radius: 5px;
}
a{
    text-decoration: none;
     font-size: 25px;
}
.AA{
text-decoration: line-through;
color:yellow;
width:500px;
margin:auto;
display:flex;
justify-content:space-between;
margin-top:10px;
align-items: center;
}
body{
    background-color: brown;
    color: chartreuse;
}
.BB{
    color:yellow;
    width:500px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    align-items: center;
}
.BB>a{
    color: rgb(180, 255, 5);
}